* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .lock-icon {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
}

p {
    font-size: 12px;
}

.passInput {
    margin-top: 15px;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid deepskyblue;
    font-size: 15px;
    color: white;
    outline: none;
}

button {
    margin-top: 15px;
    width: 80%;
    background-color: #E7F1FB;
    color: black;
    padding: 10px;
    text-transform: uppercase;
}
button:hover {
  background-color: black;
}

.fas.fa-lock {
  color: white;
}