<html lang="en">
<app-navbar></app-navbar>
<body>
    <div class="row pt-2 pe-5 ps-5 justify-content-center gap-2">

        <div class="col-12 d-flex p-3 custom-div flex-column justify-content-center align-items-center">
            <img src="/assets/images/bg.jpg" alt="Profile Photo" class="rounded-circle" width="150" height="150">
            <h1>Timothy Dy</h1>
            <p>Software Developer Trainee</p>
        </div>
    </div>

    <div class="row pt-2 pe-5 ps-5 justify-content-center gap-2">
        <div class="col-3 d-block p-3 custom-div d-flex">
            <h6>About Me</h6>
            <p class="ms-auto">Edit</p>
      </div>
  
          <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center p-3 custom-div flex-column text-center">
          </div>
  
          <div class="col-3 d-block p-3 custom-div d-flex">
              <h6>Album</h6>
              <p class="ms-auto"><a href="#">View All</a></p>
          </div>
      </div>

        
</body>
<app-footer></app-footer>
</html>

