<body><div class="container" style="position: absolute; top: 50%; left:50%; transform: translate(-50%, -50%); ">
  <div class="row justify-content-center">
      <div id="landing-left" class="col-6 col-md-5 p-5 d-none d-sm-flex justify-content-center text-dark">
         
      </div>
      <div id="landing-right" class="col-6 col-md-5 p-5 justify-content-center text-light">
        
          <div class="form">
              <div class="login">
                <div class="login-header">
                  <img class="img-fluid mb-3" src="assets/images/Logo1.PNG">
                </div>
              </div>
              <form class="login-form">
                <input type="text" placeholder="Username" name="username"/>
                <input type="password" placeholder="Password" name="password"/>
                <button class="btn">login</button>
                <p class="message text-center" style="font-size: 14px;"><a routerLink="/register">Create an account</a></p>
                <p class="message text-center" style="font-size: 14px;"><a routerLink="/forgot">Forgot Password</a></p>
              </form>
            </div>
      </div>
  </div>
</div>

<div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog" style="width: 300px;">
        <div class="modal-content text-center">
            <div class="modal-header h5 text-white bg-primary justify-content-center">
                Password Reset
            </div>
            <div class="modal-body px-5">
                <p class="py-2 text-dark">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <div class="form-outline">
                    <input type="email" id="typeEmail" class="form-control my-3" />
                    <label class="form-label" for="typeEmail">Email input</label>
                </div>
                <a href="#" class="btn btn-primary w-100">Reset password</a>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" href="#">Login</a>
                    <a class="" href="#">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>