<body><div class="container" style="position: absolute; top: 50%; left:50%; transform: translate(-50%, -50%); ">
  <div class="row justify-content-center">
      <div id="landing-left" class="col-md-5 p-5 d-none d-md-flex justify-content-center text-dark">
        <img class="img-fluid p-4" src="assets/images/Logo1_dark.PNG">
      </div>
      <div id="landing-right" class="col-10 col-md-5 p-5 justify-content-center text-light">
          <div class="form">
              <div class="login">
                <div class="login-header">
                </div>
              </div>
              <form (ngSubmit)="onSubmit()" class="login-form">
                <label for="email">Email:</label>
                <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required/>
                <label for="password">Password</label>
                <input type="password" placeholder="Password" name="password" [(ngModel)]="password" required/>
                <button class="btn">login</button>
                <p class="message text-center" style="font-size: 14px;"><a routerLink="/register">Create an account</a></p>
                <p class="message text-center" style="font-size: 14px;"><a routerLink="/forgot">Forgot Password</a></p>
              </form>
            </div>
      </div>
  </div>
</div>
</body>