<body>  <div class="container" style="position: absolute; top: 47%; left:50%; transform: translate(-50%, -50%);  ">
    <div class="row justify-content-center mt-5">
        <div id="landing-left" class="col-10 col-md-5 p-4 justify-content-center text-dark">
            <div class="registration-page">
                <div class="form">
                  <div class="registration">
                    <!-- <div class="registration-header">
                        <img class="img-fluid pb-2" src="assets/images/Logo1_dark.PNG">
                    </div> -->
                  </div>
              <form (ngSubmit)="onRegister()" id="registrationForm" action="login.html" method="post" class="registration-form">
                <label for="firstName">First Name:</label>
                  <input type="text" id="firstName" name="firstName" placeholder="First Name" [(ngModel)]="user.firstName" required>

                  <label for="lastName">Last Name</label>
                  <input type="text" id="lastName" name="lastName" placeholder="Last Name" [(ngModel)]="user.lastName" required>
            
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email" placeholder="Email Address" [(ngModel)]="user.email" required>
            
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="user.password" required>
                
                  <label for="birthday">Birthday:</label>
                  <input type="date" id="birthday" name="birthday" placeholder="Birthday" [(ngModel)]="user.birthDate" required>
            
                  <label for="gender" class="pe-2">Gender:</label>
                  <select id="gender" name="gender" class="mb-3" [(ngModel)]="user.sex" >
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="Other">Other</option>
                  </select>
                  <br>
                  <label for="mobileNumber">Mobile Number:</label>
                  <input type="text" id="mobileNumber" name="mobileNumber" pattern="[0-9]{10}" required title="Please enter a 10-digit phone number" placeholder="Mobile Number" [(ngModel)]="user.phoneNumber" >
            
                  <button class="btn">Register</button>
              </form> 
                    </div>
                </div>
        </div>
        <div id="landing-right" class="col-6 col-md-5 p-5 d-none d-sm-flex justify-content-center text-light"> 
            <div class="header my-auto">
                <img class="img-fluid pb-2" src="assets/images/Logo1.PNG">
            </div>
</div>
</div>
</div>
</body>