<html lang="en">
<app-navbar></app-navbar>
<body>
    <div class="row pt-5 pe-5 ps-5 justify-content-center gap-2">
        <div class="col-3 d-block p-3 custom-div d-none d-md-flex d-flex justify-content-center align-items-center">
            <img src="/assets/images/bg.jpg" alt="Profile Photo" class="rounded-circle mb-3" width="100" height="100">
        </div>

        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center p-3 custom-div ">
            
        </div>

        <div class="col-3 d-block p-3 custom-div d-none d-md-flex">
            <h6>Friend Requests</h6>
        </div>
    </div>

    <!-- Add another div below every column -->
    <div class="row pb-5 pe-5 ps-5 pt-2 justify-content-center gap-2 ">
        <div class="col-3 d-block p-3 custom-div d-none d-md-flex">
            <!-- Content for below the first column -->
            <!-- Add your content here -->
        </div>
        <div class="col-12 col-md-5 d-block p-3 custom-div">
            <!-- Content for below the second column -->
            <!-- Add your content here -->
        </div>
        <div class="col-3 d-block p-3 custom-div d-none d-md-flex ">
            <h6>Photos</h6>
        </div>
    </div>

</body>
<app-footer></app-footer>
</html>