<body>
    <div class="row pt-5 pe-5 ps-5 justify-content-center gap-2">   
        <div class="col-3 d-block p-3 custom-div">

        </div>

        <div class="col-5 d-flex justify-content-center align-items-center p-3 custom-div">
            <ul class="nav nav-tabs w-100 text-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Share an Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Upload a Photo</a>
                </li>
            </ul>
        </div>
        
        <div class="col-3 d-block p-3 custom-div">

        </div>
    </div>
    <!-- Add another div below every column -->
    <div class="row pb-5 pe-5 ps-5 pt-2 justify-content-center gap-2">
        <div class="col-3 d-block p-3 custom-div">

        </div>
        <div class="col-5 d-block p-3 custom-div">

        </div>
        <div class="col-3 d-block p-3 custom-div">
        </div>
    </div>

</body>
